.app {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.loader {
  padding-top: 40px;
  max-width: 600px;
  margin: 0 auto;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading-icon {
  width: 24px;
  height: 24px;

  animation-name: spin;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
